@font-face {
	font-family: arialNarrow;
	src: url(resources/fonts/arialn.ttf);
}
@font-face {
	font-family: arialNarrow;
	src: url(resources/fonts/arialnb.ttf);
	font-weight: bold;
}
@font-face {
	font-family: arialNarrow;
	src: url(resources/fonts/arialni.ttf);
	font-style: italic;
}
@font-face {
	font-family: arialNarrow;
	src: url(resources/fonts/arialnbi.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: arialBlack;
	src: url(resources/fonts/ariblk.ttf);
}

@font-face {
    font-family: centaur;
    src: url(resources/fonts/CENTAUR.TTF);
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

h1 {
    font-family: centaur;
    font-size: 60pt;
}

.centrepage {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#img1 {
    float: right;
}

#title1 {
    float: left;
    margin-top: 50px;
}

#headingblock {
    display: block;
    width: 100%;
    float: none;
    height: 200px;
}

#headingblockleft {
    float: left;
    width: 50%;
    height: 100%;
}

#headingblockright {
    float: right;
    width: 50%;
    height: 100%;
}

#maincontents {
    display: inline-block;
    width: 100%;
    float: none;
}